<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{testRequestBody}" method="post">
    <input type="text" name="username" > <input type="password" name="password" >
    <input type="submit" value="测试requestBody">
</form>

<form th:action="@{testRequestEntity}" method="post">
    <input type="text" name="username" > <input type="password" name="password" >
    <input type="submit" value="测试requestEntity">
</form>

<a th:href="@{/testResponseBody}">测试responseBody</a>
<a th:href="@{/testResponseBodyUser}">测试json</a>
<div id="app">
    <a th:href="@{/testAjax}" @click="testAjax">testAjax</a><br>
</div>
<script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
<script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
<script>
    new Vue({
        el:'#app',
        methods:{
            testAjax:function (event) {
                axios({
                    method:"post",
                    url:event.target.href,
                    params:{
                        username:"admin",
                        password:"123456"
                    }
                }).then(function (response) {
                    alert(response.data);
                });
                event.preventDefault();
            }
        }
    })
</script>
</body>
</html>