#main{
    width: 1200px;
    height: 750px;
    /* background-color: pink; */
}
#commputer{
    width: 1200px;
    height: 670px;
    /* background-color: skyblue; */
}
.c_list{
    height:300px;
    width:250px;
    margin: 20px;
    float: left;
    margin-top:20px;
    margin-bottom:20px;
    border: 1px #e3e3e3 solid;
}

.commputer_img{

    width:150px;
    height:150px;
}
#page_nav{
    float: left;
    width: 100%;
    height: 36px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    line-height: 36px;
    font-size: 20px;
}

#pn_input {
    height: 30px;
    width: 30px;
    text-align: center;
    border: 1px solid;
}
button{
    border: 1px solid;
}
#page_nav_but{
    height: 30px;
    width: 30px;
    text-align: center;
    border: 1px solid;
}


.img_div{
    padding-top: 5px;
}


.c_list_wrap{
    padding-left: 50px;
}


.p-price {
    position: relative;
    line-height: 22px;
    height: 22px;
    overflow: hidden;
    width: 100%;
    margin: 10px  8px;
}
.p-price strong {
    float: left;
    margin-right: 10px;
    color: #e4393c;
    font-size: 20px;
}
